Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

series = pd.Series([ 4, 8, 15, 16, 23,42])

series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

series = pd.Series([1,2,3,4,5,6,7,8,9,10])

series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Q3.Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [4]:
import pandas as pd

data = {'Name': ['Alice', 'Bad', 'Claire'],

        'Age': [25, 30, 27],

        'Gender': ['Female','Male','Female']}

df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bad   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a 2-dimensional labeled data structure that can store data of different types in columns. It is similar to a spreadsheet or a SQL table and is one of the most commonly used data structures in Pandas.

A DataFrame is different from a Pandas Series in the following ways:

Dimensions: A Series is a 1-dimensional array-like object that can store a single column of data, while a DataFrame is a 2-dimensional object that can store multiple columns of data.

Labels: A Series has a single set of row labels (the index), while a DataFrame has both row and column labels (row index and column index).

Data types: A Series can only store a single data type, while a DataFrame can store data of different types in different columns.

In [5]:
my_series = pd.Series([1, 2, 3, 4, 5], name='my_column')

my_dataframe = pd.DataFrame({
    'column_1': [1, 2, 3, 4, 5],
    'column_2': ['a', 'b', 'c', 'd', 'e']})

print(my_series)
print(my_dataframe)

0    1
1    2
2    3
3    4
4    5
Name: my_column, dtype: int64
   column_1 column_2
0         1        a
1         2        b
2         3        c
3         4        d
4         5        e

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Ans: Pandas provides a wide range of functions to manipulate data in a DataFrame. Some of the most common functions are:

head() and tail(): These functions allow you to view the first or last n rows of a DataFrame, respectively. For example, df.head(10) would return the first 10 rows of the DataFrame df.

describe(): This function provides summary statistics for each column of the DataFrame, such as the mean, standard deviation, and quartiles. For example, df.describe() would return a summary of statistics for all columns of the DataFrame df.

drop(): This function allows you to remove rows or columns from the DataFrame. For example, df.drop('column_name', axis=1) would remove the column with the name 'column_name' from the DataFrame df.

groupby(): This function allows you to group rows of the DataFrame by one or more columns and perform calculations on each group. For example, df.groupby('column_name').mean() would group the rows of the DataFrame df by the values in the column with the name 'column_name', and calculate the mean for each group.

sort_values(): This function allows you to sort the rows of the DataFrame by one or more columns. For example, df.sort_values('column_name', ascending=False) would sort the rows of the DataFrame df in descending order based on the values in the column with the name 'column_name'.

fillna(): This function allows you to fill missing values in the DataFrame with a specified value or method. For example, df.fillna(method='ffill') would fill missing values in the DataFrame df using forward fill method.

apply(): This function applies a function to each row or column of the DataFrame. For example, df.apply(lambda x: x**2) would apply the lambda function to each element of DataFrame df.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans: In Pandas, both Series and DataFrame are mutable in nature, meaning that you can modify their contents after they have been created.

A Series is mutable because you can modify its values using indexing or slicing. For example, my_series[0] = 100 would modify the first value of the Series my_series.

Similarly, a DataFrame is mutable because you can modify its values, add or remove columns or rows, and perform other operations on it. For example, my_dataframe['new_column'] = [1, 2, 3, 4, 5] would add a new column to the DataFrame my_dataframe.

A Panel, on the other hand, is an advanced data structure in Pandas that is used to represent 3-dimensional data. However, it is not widely used and has been deprecated since Pandas version 0.25.0. In the latest version of Pandas, a Panel can be represented as a DataFrame with a MultiIndex, and thus, is not mutable in nature.

Q7. Create a DataFrame using multiple Series. Explain with an example.

Ans:You can create a DataFrame using multiple Series by passing a dictionary of Series objects to the pd.DataFrame() function. Each key in the dictionary will become the name of a column in the resulting DataFrame, and each value will become the data in that column. Here's an example:

In [6]:
import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 35, 40])
genders = pd.Series(['female', 'male', 'male', 'male'])

data = {'Name': names, 'Age': ages, 'Gender': genders}
df = pd.DataFrame(data)

print(df)

      Name  Age  Gender
0    Alice   25  female
1      Bob   30    male
2  Charlie   35    male
3    David   40    male