### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans:**Database:** A database is a structured collection of data that is organized and stored for easy access, retrieval, and management. It typically consists of tables, each containing rows and columns of data.

**SQL (Structured Query Language) Databases:** SQL databases are relational databases that use a structured query language (SQL) for defining, manipulating, and controlling data. Examples include MySQL, PostgreSQL, SQLite, and Oracle. They use a predefined schema and are good for applications requiring complex queries and transactions.

**NoSQL Databases:** NoSQL databases are non-relational databases that provide a mechanism for storage and retrieval of data modeled in means other than the tabular relations used in relational databases. Examples include MongoDB, Cassandra, Redis, and Couchbase. NoSQL databases are schema-less or have a flexible schema, making them suitable for handling large volumes of unstructured data and scalable applications.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans:DDL (Data Definition Language): DDL is a subset of SQL used to define and modify the structure of database objects such as tables, indexes, and schemas.

**Examples:**

**CREATE:** Used to create new database objects. Example: CREATE TABLE Students (id INT, name VARCHAR(50));

**DROP:** Used to delete existing database objects. Example: DROP TABLE Students;

**ALTER:** Used to modify the structure of existing database objects. Example: ALTER TABLE Students ADD COLUMN age INT;

**TRUNCATE:** Used to delete all rows from a table without removing the table structure. Example: TRUNCATE TABLE Students;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans:DML (Data Manipulation Language): DML is a subset of SQL used to manage data within database objects.

Examples:

**INSERT:** Used to insert new rows of data into a table. 
Example: INSERT INTO Students (id, name, age) VALUES (1, 'John', 20);

**UPDATE:** Used to modify existing data in a table. Example: UPDATE Students SET age = 21 WHERE id = 1;

**DELETE:** Used to delete existing rows from a table. Example: DELETE FROM Students WHERE id = 1;

### Q4. What is DQL? Explain SELECT with an example.

Ans: DQL (Data Query Language): DQL is a subset of SQL used to retrieve data from the database.

**Example:**

**SELECT:** Used to retrieve data from one or more tables. 

Example: SELECT * FROM Students WHERE age > 18;

### Q5. Explain Primary Key and Foreign Key.

Ans: **Primary Key:** A primary key is a unique identifier for each row in a table. It ensures that each record in a table is uniquely identifiable. Example: id column in a Students table.

**Foreign Key:** A foreign key is a column or a set of columns in one table that refers to the primary key in another table. It establishes a relationship between the two tables. Example: student_id column in a Grades table referencing the id column in the Students table.

### Q7. Give the order of execution of SQL clauses in an SQL query.

Ans: The general order of execution of SQL clauses in an SQL query is as follows:

**FROM:** Specifies the tables from which data will be retrieved.

**WHERE:** Filters the rows based on specified conditions.

**GROUP BY:** Groups the rows that have the same values into summary rows.

**HAVING:** Filters the groups based on specified conditions.

**SELECT:** Retrieves the desired columns or expressions.

**ORDER BY:** Sorts the result set based on specified columns or expressions.

**LIMIT/OFFSET:** Limits the number of rows returned by the query